.container {
  margin: auto;
  padding: 20px;
  max-width: 800px;
}

h1 {
  text-align: center;
}

button {
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup form {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.popup form label {
  display: block;
  margin-bottom: 5px;
}

.popup form input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid gray;
  width: 100%;
}
