body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.illustration {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.illustration img {
  width: 700px;
  height: 500px;
}

.form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.forgot-password {
  margin-top: 10px;
  text-align: center;
}

.forgot-password a {
  color: blue;
  text-decoration: none;
}
